<h2>Backlinks</h2>
{% assign search_term = page.url | absolute_url | remove: ".html" | split: "/" | last | replace: "-", " " | replace: "'", "" %}
<p>{{ page.url | absolute_url | remove: ".html" }}</p>
<ul>
{% for ref in site.pages %}
    {% if ref.url contains '.xml' or ref.url contains 'assets' %}{% else %}
        {% assign ref_content = ref.content | downcase | replace: "-", " " | replace: "'", "" %}
        {% assign ref_array = ref.url | absolute_url | remove: ".html" | split: "/" }
        <!-- Searching all Pages -->
        {% if ref_content contains search_term %}
            <!-- Check if it is not the same site -->
            {% if page.url == ref.url %}{% else %}
                <li>[<a href="{{ ref.url | absolute_url }}">{{ ref.title }}</a>]</li>
                <p>{{ ref.url | absolute_url | remove: ".html" }}</p>
                <p>{{ ref_array }}</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
