<h2>Backlinks</h2>
{% assign search_term = page.url | absolute_url | remove: ".html" | split: "/" | last | replace: "-", " " | replace: "'", "" %}
{% assign page_url = page.url | absolute_url | remove: ".html" %}
<ul>
{% for ref in site.pages %}
    <!-- Only valid pages and no assets -->
    {% if ref.url contains '.xml' or ref.url contains 'assets' %}{% else %}
        {% assign ref_content = ref.content | downcase | replace: "-", " " | replace: "'", "" %}
        {% assign ref_top = ref.url | absolute_url | remove: ".html" | split: "/" | last | prepend: "/" %}
        {% assign ref_dir = ref.url | absolute_url | remove: ".html" | remove: ref_top %}
        <!-- Searching all Pages -->
        {% if ref_content contains search_term %}
            <!-- Check if it is not the same site -->
            {% if page.url == ref.url %}{% else %}
                <!-- Check if page being referenced in not an imediate child -->
                {% if page_url == ref_dir %}{% else %}
                    <li>[<a href="{{ page_url }}">{{ ref.title }}</a>]</li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
