<h2>Backlinks</h2>
{% assign search_url = page.url | absolute_url | remove: ".html" | split: "/" | last | replace "-", " " %}
<p>{{ search_url }}</p>
{% for ref in site.pages %}
    {% if ref.url contains '.xml' or ref.url contains 'assets' %}{% else %}
        {% assign ref_content = ref.content | downcase | replace "-", " " %}
        <!-- Searching all Pages -->
        {% if ref_content contains search_url %}
            {% if page.url == ref.url %}{% else %}
                <p>{{ ref_content }}</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
