---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

header {
  height: 60px;
  width: 100vw;
  background-color: #000;
  display: flex;
  justify-content: space-around;
}

header a {
  line-height: 60px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
}

p, a {
  font-family: Inter, sans-serif;
}

blockquote {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
