---
layout: foam
---

<!-- BREADCRUMBS -->
<div id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="{{ "/" | absolute_url }}">Home</a>
    {% for crumb in crumbs offset: 1 %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        {% capture crumb_path %} {% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | remove:'.html' }}{% endfor %} {% endcapture %}
        {% if forloop.last %}
            / {{ page.title }}
        {% else %}
            {% for ref in site.pages %}
                {% if ref.url == crumb_path %}
                    / <a href="{{ ref.url | absolute_url }}">{{ ref.title }}</a>
                {% endif %}
                <p>{{ ref.url }}</p>
                <p>{{ crumb_path }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

{{ content }}
