---
layout: foam
description: {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | remove_first: page.title | truncate: 128 }}
---

{% include breadcrumbs.html %}

<ul>
    {% if page.author %}<li><b>Author:</b> {{ page.author }}</li>{% endif %}
    {% if page.source %}<li><b>Source:</b> <a href="{{ page.source }}">{{ page.source }}</a></li>{% endif %}
</ul>

{{ content }}

{% include backlinks.html %}
